

aside {
  width: 96px;
  height: 100vh;
  position: fixed;
  background-color: red;
  z-index: 10;
}


.wrapper {
  min-width: 940px;
  height: 100vh;
  margin-left: 96px;
  color: #000000;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-300';
  position: relative;
  overflow: hidden;
}

.flexslider {
  border: none;
}

.slide {
  height: 100vh;

  .inner {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;

    > span {
      display: inline-block;
      color: red;
      font-size: 32px;
      margin: 50px 16px 0 0;
      font-family: 'FedraSansPro-Normal';

      strong {
        color: red;
      }
    }
    h1 {
      width: 550px;
      margin: 20px auto 0 auto;
      font-family: "MuseoSansCyrl-700";
      font-size: 72px;
      line-height: 115%;
      color: white;
    }
    > p {
      margin: 4px auto 0 auto;
      width: 700px;
      font-size: 23px;
      line-height: 150%;
      color: white;
    }
  }
}

#mask {
  @include box-shadow(0 0 0 50vw rgba(0, 0, 0, 0.70) inset);
}


.slide-1 {
  background-image: url("../../theme/images/bg/slide-1.jpg");
  @include background-size (cover);

    .content {

      figure {
        display: inline-block;
        width: 135px;
        margin-top: 54px;
        vertical-align: top;

        .director {
          @include border-radius(50%);
          overflow: hidden;
          height: 135px;
        }

        figcaption {
          color: white;
          margin-top: 28px;
          padding-left: 35px;
          line-height: 1.32;
          text-align: left;

          strong {
            color: white;
          }
        }

        img {
          @include transform(rotate(12deg));
        }
      }
      .speech-bubble {
        display: inline-block;
        width: 732px;
        height: 600px;
        background-color: red;
        margin-top: 52px;
        position: relative;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        @include opacity (.9);
        padding: 0 40px 30px 30px;
        color: white;
        font-size: 18px;
        line-height: 2.0;
        text-align: left;
        overflow-y: scroll;
    }
  }
}

.slide-2, .slide-3 {
  background-image: url("../../theme/images/bg/slide-1.jpg");
  @include background-size(cover);

  .content {
    color: red;
    font-size: 23px;

      .item-1 {
        margin: 43px 0 0 0;
        font-family: "MuseoSansCyrl-500";
      }
      .item-2 {

        font-size: 600px;
        margin: 20px 0 0 0;
        line-height: 0.7;
      }

  }
}

.slide-3 {
  .item-3 {
    margin: 0;
    font-size: 180px;
    line-height: 0.8
  }
}







.slide-4,
.slide-5,
.slide-6,
.slide-7,
.slide-8,
.slide-9,
.slide-10,
.slide-11,
.slide-12,
.slide-13,
.slide-14,
.slide-15,
.slide-16,
.slide-17,
.slide-18,
.slide-19,
.slide-20,
.slide-21,
.slide-22,
.slide-23,
.slide-24,
.slide-25,
.slide-26,
{
  position: relative;

  .inner {
    height: 100vh;
    padding: 0;

    h1 {
      width: 900px;

      color: red;
      padding: 0;
    }
    > p {
      color: red;
    }
    .content {
      color: #000000;
      height: 65vh;
      position: relative;

      .essence {
        margin-top: 25px;
        display: inline-block;
        width: 100%;
        height: 350px;
        position: relative;


        img {
          @include transform(scale(.9));
        }
      }

      .desc {
        padding: 0 90px;
        position: absolute;
        bottom: 5%;
        font-size: 20px;
        font-family: "MuseoSansCyrl-500";

      }
    }
  }
}

.slide-6, .slide-7 {
  .inner {
    .content {
      .essence {
        img {
          @include transform(scale(.54));
          position: absolute;
          top: -35%;
        }
      }
    }
  }
}

.economy {
  width: 100%;
  font-size: 20px;
  font-family: "MuseoSansCyrl-700";
  position: absolute;
  bottom: 27%;

  strong {
    color: red;
  }
}

.slide-8, .slide-9 {
  .inner {
    .content {
      .essence {
        display: table;
        padding: 0 120px;

        .item {
          display: table-cell;
          vertical-align: middle;
          width: 25%;
          height: 210px;
          position: relative;
          font-size: 0;

          img {
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

          }

        }
      }
    }
  }
}

.slide-8 {
  .inner {
    .content {
      .essence {
        .item_4 {
          @include transform (scale(.9));
        }
      }
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 5%;

  a {
    display: inline-block;
    padding: 2px 15px 3px 15px;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    font-family: "MuseoSansCyrl-700";
  }

  .title {
    width: 100%;
    font-size: 20px;
    font-family: "MuseoSansCyrl-700";

    strong {
      color: red;
    }
  }
  .description {
    padding: 0 120px;
    font-size: 20px;
    font-family: "MuseoSansCyrl-500";
  }
}

.slide-10,
.slide-11,
.slide-12,
.slide-13,
.slide-14,
.slide-15,
.slide-16 {
  .inner {
    .content {
      .essence {
        margin-top: 65px;
        position: relative;

        ul {
          padding: 0;

          li {
            display: inline-block;
            width: 27%;
            padding: 18px 0;
            margin-right: 70px;
            background-color: grey;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            font-size: 22px;
            color: #ffffff;
            cursor: pointer;

            &:last-child {
              width: 250px;
              margin-right: 0;
            }
          }
        }

        img {
          margin-top: 20px;
          @include transform(scale(.9));
        }
      }
    }
    .footer {
      strong {
        color: red;
        cursor: pointer;
      }
    }
  }
}

.small-speech {
  width: 320px;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  background-color: red;
  @include opacity (.0);
  padding: 15px 60px 45px 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  @include pseudo-block($top: 0, $left: 31px);
  line-height: 1.5;


  strong {
    color: #ffffff;
    font-family: 'MuseoSansCyrl-700';
  }

  .cross {
    @include oneline-sprite-box($icons, cross);
    @include pseudo-block($top: -16px, $right: -16px);
    cursor: pointer;

  }
}

.slide-10 {
  .inner {
    .content {
      .essence {
        ul {

          li {

            &:last-child {
              background-color: red;
            }
          }
        }
      }
    }
  }
}


.slide-11 {
  .inner {
    .content {
      .essence {
        ul {

          li {
            &:first-child {
              visibility: hidden;
            }
            &:last-child {
              background-color: #009900;
            }
          }
          }

        img {
          @include transform(scale(.8));
          position: absolute;
          top: -106px;
          left: 5%;
        }
        }
      }
    }
  }

.slide-12 {
  .inner {
    .content {
          .essence {



            ul {

          li {
           width: 14%;

            &:last-child {
              width: 12%;
              position: relative;

              &:before {
                @include oneline-sprite-box($icons, plus);
                @include pseudo-block($top: 20%, $left: -42%);
              }
            }
          }
        }

        .red-atoms {
          @include transform (scale(.4));
          position: absolute;
          top: -12%;
        }
            .h2o_1 {
              @include transform (scale(0.1));
              position: absolute;
              top: -260%;
              left: 28%;
               opacity: 1;
            }
            .h2o_2 {
              @include transform (scale(0.1));
              position: absolute;
              top: -105%;
              left: 40%;
              opacity: 0;
            }
            .h2o_3 {
              @include transform (scale(0.1));
               position: absolute;
               top: -112%;
               left: 52%;
               opacity: 0;
             }
            .hho {
              @include transform (scale(0.1));
              position: absolute;
              top: -99%;
              left: 28%;
              opacity: 0;
            }

        .small-speech {
          width: 450px;
          padding: 15px 15px 15px 30px;
          top: -7%;
          left: 70%;
        }

      }
    }
  }
}


.slide-13 {
  .inner {
    .content {
      .essence {
        ul {

          li {

            width: 14%;

            &:last-child {
              width: 12%;
            }
          }
        }

        img {
          @include transform (scale(.5));
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

.slide-14, .slide-15, .slide-16 {
  .inner {
    .content {
      .essence {

        img {
          @include transform (scale(.5));
          position: absolute;
          top: -44%;
        }
      }
    }
  }
}

.slide-17,
.slide-18,
.slide-19,
.slide-20,
.slide-21,
.slide-22,
.slide-23,
.slide-24,
.slide-25,
.slide-26 {
  .inner {

    > p {
      width: 770px;
      span {
        color: #000000;
      }
    }
    .content {
      .essence {

        img {
          @include transform (scale(0.6));
          position: absolute;
          top: -27%;
        }
      }
    }
  }
}

.slide-18 {
  .inner {
    .content {
      .essence {
        img {
          @include transform (scale(0.56));
          position: absolute;
          top: -33%;
        }
      }
    }
  }
}

.slide-19, .slide-20 {
  .inner {
    .content {
      .essence {
        img {
          @include transform (scale(0.5));
          position: absolute;
          top: -42%;
        }
      }
    }
  }
}


.slide-20 {
  .inner {
    .content {
      .essence {
        img {
          top: -36%;
        }
      }
    }
  }
}

.slide-21, .slide-22, .slide-23 {
  .inner {
    .content {
      .essence {
        img {
          top: -15%;
        }
      }
    }
    .footer {
      .description {
        padding: 0 110px;
      }
    }
  }
}

.slide-24, .slide-25 {
  .inner {
    > p {
      width: 760px;
    }
    .content {
      .essence {
        img {
          top: -50%;

        }
      }
    }
  }
}

.slide-25 {
  .inner {
    .content {
      .essence {
        img {
          top: -26%;

        }
      }
    }
  }
}

.slide-26 {
  .inner {
    .content {
      .essence {
        img {
          @include transform (scale(0.15));
          top: -266%;
        }
      }
    }
  }
}

.speech-bubble_tail {
  display: inline-block;
  position: relative;

  &:before {
    @include oneline-sprite-box($icons, speech-bubble_tail);
    @include pseudo-block($top: 140px, $left: 19px);
  }
  .hidden-scroll {
    display: inline-block;
    width: 715px;
    overflow: hidden;
    margin-left: 115px;
    position: relative;
  }
}


@keyframes redBoxWidth {
  0% {
    @include opacity (0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 0;
  }

  20% {
    @include opacity (.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 150px;
    animation-delay: 1s;
  }

  60% {
    @include opacity(.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 150px;
    animation-delay: 1s;
  }

  90% {
    @include opacity(.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 200px;
  }


  100% {
    opacity: .9;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 500px;
  }
}

.redBoxWidth {
  -webkit-animation-name: redBoxWidth;
  animation-name: redBoxWidth;
}


@keyframes textOpacity {
  0% {
    @include opacity (0);
  }

  100% {
    @include opacity (1);
  }
}

.textOpacity {
  -webkit-animation-name: textOpacity;
  animation-name: textOpacity;
  animation-delay: 2s;
}

///  Убирается скроллбар из спича
/* хром, сафари */
.element::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }




@keyframes flashing {  //Brix redText animation
  0% {
    @include opacity (0);
  }

  100% {
    @include opacity (1);
  }
}

.flashing {
  -webkit-animation-name: flashing;
  animation-name: flashing;
  @include animation-iteration-count (infinite);
}



/////////////////////////
@keyframes small-speech-fadeIn {  //Small speech fade effect
  0% {
    @include opacity (0);
  }

  100% {
    @include opacity (.8);
  }
}

.small-speech-fadeIn {
  -webkit-animation-name: small-speech-fadeIn;
  animation-name: small-speech-fadeIn;
  animation-duration: 1s;
}


////////////////////////
@keyframes small-speech-fadeOut {  //Small speech fade effect
  0% {
    @include opacity (.8);
  }

  100% {
    @include opacity (0);
  }
}

.small-speech-fadeOut {
  -webkit-animation-name: small-speech-fadeOut;
  animation-name: small-speech-fadeOut;
  animation-duration: 1s;
}



////////////////////////
@keyframes h2o-appear {
  0% {
    @include opacity (0);
  }

  100% {
    @include opacity (1);
  }
}

.h2o_2-appear {
  -webkit-animation-name: h2o-appear;
  animation-name: h2o-appear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
 // @include animation-iteration-count (infinite);
}

.h2o_3-appear {
  -webkit-animation-name: h2o-appear;
  animation-name: h2o-appear;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
 // @include animation-iteration-count (infinite);
}

.hho-appear {
  -webkit-animation-name: h2o-appear;
  animation-name: h2o-appear;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-timing-function: linear;
 // @include animation-iteration-count (infinite);
}




////////////////////////
@keyframes h2o-disappear {
  0% {
    @include opacity (1);
  }

  100% {
    @include opacity (0);
  }
}

.h2o-disappear {
  -webkit-animation-name: h2o-disappear;
  animation-name: h2o-disappear;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: linear;
 // @include animation-iteration-count (infinite);
}
